#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: rem-calc(130);

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;
		border-top: 1px solid $medium-gray;

		.footer-text {
			font-size: $small-font-size;
			color: $dark-gray;
			text-align: center;
		}
	}
}
