.od-header {
  background: linear-gradient( $white, #f7f6f0 );
  border-bottom: 1px solid $od-light-yellow-border;

  .header-wrapper {
    background: url('../images/onelion.png') no-repeat right top;

    .header-top {
      .top-wrapper {
        padding-top: $global-padding;
        background-color: transparent;
        margin-bottom: 0;

        @include breakpoint(small only) {
          margin-bottom: $global-margin;
          text-align: center;
        }

        .home-link {
          padding-right: 0;

          @include breakpoint(small only) {
            display: inline-block;
            float: left;
          }

          .header-logo {
            @include breakpoint(medium) {
              float: right;
              margin-right: 0;
            }
          }
        }

        .site-title {
          font-size: 18px;
          padding: 1.2rem;
          padding-left: ($global-padding * 2);
          line-height: 1.1rem;

          @include breakpoint(small only) {
            display: none;
          }

          span {
            font-weight: 900;
          }
        }

        li.home {
          float: left;
        }
      }
    }

    .title-bar {
      background-color: initial;

      .menu-icon {
        position: absolute;
        top: 20px;
        left: 10px;

        &::after {
          background: $primary-color;
          box-shadow: 0 7px 0 $primary-color,0 14px 0 $primary-color;
        }
      }
    }

    .top-bar {
      background-color: initial;

      .header-bottom {
        margin-bottom: 12px;

        form {
          display: inline-block;
          float: right;
          height: 35px;

          @include breakpoint(small only) {
            display: none;
          }


          .input-group {
            margin: 0;
            position: relative;

            @include breakpoint(medium) {
              width: 100px;
            }

            @include breakpoint(large) {
              width: 200px;
            }

            .input-group-field {
              height: 35px;
              border-radius: $global-radius;
              display: inline-block;

              &:focus {
                border-radius: 0;
              }

              @include breakpoint(small only) {
                width: 100%;
                border-radius: 0;
              }
            }

            .header-search-button {
              position: absolute;
              right: 10px;
              top: 8px;
              color: $medium-gray;
            }
          }
        }

        .desktop-menu {
          float: right;
          margin-right: $global-margin;
          background-color: transparent;
        }
      }
    }

    .mobile-search {
      @include breakpoint(medium) {
        display: none;
      }

      .input-group {
        position: relative;
        margin-bottom: 0;
      }

      .header-search-button {
        position: absolute;
        top: 13px;
        right: 10px;
        color: $medium-gray;
      }
    }

  }
}
