/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {

  .menu {
    background-color: initial;
  }

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu li.active a {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }

  .menu a {
    color: $white;
    background-color: $medium-gray;
    border-radius: $global-radius;
    margin-right: 1px;
    padding: 10px 15px 10px;
    font-size: 0.8rem;
    line-height: 15px;
    transition-duration: 0.1s;
    text-transform: lowercase;

    &:hover:not(.button),
    &:hover:not(.active) {
      background-color: $secondary-color;
      text-decoration: none;
      color: $dark-gray;
    }

  }

  // .menu>li:not(.menu-text)>a { padding: 1rem; }

  .dropdown.menu .submenu {
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

  .is-dropdown-submenu-parent {
    a {
      &::after {
        border-color: #fff transparent transparent !important;
      }
    }
  }

  .menu.vertical > li {
    margin-top: 1px;
  }

}
/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */
.post-navigation:before,
.post-navigation:after {
	content: "";
    	display: table;
}
.post-navigation:after {
	clear:both;
}
/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}

//Breadcrumbs
.breadcrumbs {
  .bread-portal-home {
    font-size: 24px;
    line-height: 1;
  }

  a {
    font-size: 20px;
  }

  li:not(:last-child)::after { /*separator*/
    color: $dark-gray;
    top: 0;
  }

  .item-month {
    text-transform: capitalize;
  }
}
