.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }

  border: 1px solid $od-light-yellow-border;
  border-radius: $global-radius;
}
