# Installation configuration configuration.

# Database access details
od_dbhost='localhost'
od_dbname='opendata_cms'
od_dbuser='opendata_cms'
od_dbpass='your-db-password-here'
od_dbprefix='odwp_'

# The full URL where this CMS will be installed.
od_site_url='https://the-domain-of-the-cms.com/'

# Try to avoid obvious choises like 'admin' or 'administrator'.
od_admin_user=''

# At least 10 characters.
od_admin_password=''

# The email of the admin user defined above.
od_admin_email=''

# WordPress site title. You can change this later in the WordPress settings.
od_site_title='Opendata News And Information'

# The language you want the WordPress install to be in.
od_locale='bg_BG'

# Where to look for the custom theme release packages
od_theme_releases_url='https://api.github.com/repos/governmentbg/opendata-cms/releases'
