#!/bin/sh
## backup and restore scripts configuration

# The directory where the backups are stored(and restored from). Default '~/opendata-cms-backup'.
backup_dir=~/opendata-cms-backup;

# The message that will show up while your database is importing.
maintenance_msg="Down for scheduled maintenance. The site will be back shortly.";
