# Main configuration.
# !!! Optional stuff will be marked as such, everything else is REQUIRED. !!!!!!
# The vars below are important, so please doublecheck them.

# Required vars
od_dbname=''
od_dbuser=''
od_dbpass=''
od_site_url='' # The url of your new site
od_admin_user='' # You can set this to whatever you want, try not to use something too obvious like 'admin' or 'administrator'
od_admin_password='' # At least 10 characters.
od_admin_email=''

# Optional vars
od_dbhost='localhost' #Optional. This should remain 'localhost' in 99% of the cases. Only change it if you really know what you're doing.
od_dbprefix='odwp_' #Optional.
od_site_title='Портал за отворени данни' # WordPress site title. You can change this later in the WordPress settings.
